<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>

  <body>
    <%- include("./partials/nav.ejs") %>

    <h1>Gallery sahifasi</h1>
    <img src="/part.jpg" alt="There is a photo">
    <img src="/image.jpg" alt="There is a phono">
  </body>
</html>
