<!DOCTYPE html>
<html lang="en">
     <%- include("./partials/head.ejs") %>

  <body>
    <%- include("./partials/nav.ejs") %>
    <h1>Asosiy sahifa</h1>
    <img src="/paris.jpg" alt="Bu yerda rasm bor" style="width:500px; height:  300px;">
  </body>
</html>
