<!DOCTYPE html>
<html lang="en">
     <%- include("./partials/head.ejs") %>

  <body>
     <%- include("./partials/nav.ejs") %>

    <h1>Jobs sahifasi</h1>
    <img src="/jobs.png" alt="">
  </body>
</html>
